#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* MODAL CONTENT */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    margin-left: 850px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.hide {
    display: none;
}

/* ACTUAL STYLING */


/* TITLE SECTION */

html {
    overflow-x: hidden;
    height: 100%;
    background-color: #420C09;
}

.title-section {
    background-image: url("https://wallpaperaccess.com/full/1562002.jpg");
    background-repeat: no-repeat;
    background-size: 100% 500px;
    padding-top: 90px;
    padding-bottom: 200px;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    margin-top: 85px;
    text-align: center;
}

.film {
    margin-left: 40px;
    transform: rotate(90deg);
    width: 40px;
    height: 70px;
}

.film-2 {
    margin-right: 40px;
    transform: rotate(90deg);
    width: 40px;
    height: 70px;
}

.star-big {
    width: 70px;
    height: 70px;
    margin-top: -20px;
    margin-right: 10px;
    margin-left: 10px
}

.bean {
    background-image: url("images/video-player.png");
    background-size: 70px;
    background-repeat: repeat-x;
    background-color: #420C09;
}

.bean-2 {
    background-image: url("images/video-player.png");
    background-size: 70px;
    background-repeat: repeat-x;
    background-color: #420C09;
}

/* ADD MOVIE FORM SECTION */

.add-movie-title {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 90px;
    padding-bottom: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.row form {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.star {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-left: 10px
}

.star-2 {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-right: 10px
}

.mini-title {
    color: white;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 20px;
}

.btn-primary {
    background-color: red !important;
    border: none !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.btn-primary:hover {
    background-color: #420C09 !important;
}

/* MOVIES DIV SECTION */

.movies-display {
   background-color: #420C09;
}

.movies-section {
    background-repeat: no-repeat;
    background-size: 100% 850px;
    background-image: url("https://m.media-amazon.com/images/I/61xuBEy1FcL._AC_SL1000_.jpg");
}

/* CARD FLIP ANIMATION */

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 600px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {

    color: black;
    width: 100%;
    height: 100%;
}

.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
}

.card-body {
    height: 100%;
}

.card {
    margin-top: 150px;
    border: none;
}

.form-group .btn-primary {
    margin-top: 20px;
}

.pencil {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.trash {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}